:root {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--line_color);
  background-color: #171d19;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --line_color: rgb(147, 248, 178);
  --light_background: #1a241d;
  --lighter_background: #2c3d31;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-content: center;
  min-width: 100vw;
  min-height: 100vh;
  filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"> \
    <filter id="glitch" x="0%" y="0%" width="100%" height="300%"> \
        <feTurbulence type="fractal" seed="1" baseFrequency="0 0.001" result="NOISE" numOctaves=".1"> \
          <animate attributeName="seed" values="1;1000;1" dur="500s" repeatCount="indefinite" /> \
        </feTurbulence> \
        <feOffset in="NOISE" dx="0" dy="10" result="OFFSET"> \
          <animate attributeName="dy" values="0;-300" dur="10s" repeatCount="indefinite" /> \
        </feOffset> \
        <feDisplacementMap in="SourceGraphic" in2="OFFSET" scale="2.00005" xChannelSelector="R" yChannelSelector="A" /> \
    </filter> \
  </svg>#glitch');
}

#app {
  text-align: center;
}

button {
  font: inherit;
  color: inherit;
  background-color: var(--light_background);
  border-color: inherit;
  margin: 1rem;
  padding: 0rem .5rem;
}

button:hover {
  background-color: var(--lighter_background);
}

input {
  color: inherit;
  font: inherit;
  background-color: var(--light_background);
  caret-shape: block;
  border-color: inherit;
  border-style: solid;
  width: 95%;
}

input:focus-visible {
  border-color: rgb(191, 255, 210);
  background-color: var(--lighter_background);
  outline: .1rem solid var(--line_color);
}

label {
  margin: 0rem 1rem 0rem 0rem;
  text-align: center;
}